#CC="c:\program files\microsoft visual studio .net 2003\vc7\bin\cl"
#LINK="c:\program files\microsoft visual studio .net 2003\vc7\bin\link"
#RC="c:\program files\microsoft visual studio .net 2003\vc7\bin\rc"

CC="c:\program files\microsoft visual studio\vc98\bin\cl"
LINK="c:\program files\microsoft visual studio\vc98\bin\link"
RC="c:\program files\microsoft visual studio\common\msdev98\bin\rc"
INC=/I "c:\program files\microsoft visual studio\vc98\include" /I "c:\juce\dxsdk9\include"
LIB=/LIBPATH:"c:\program files\microsoft visual studio\vc98\lib" /LIBPATH:"c:\juce\dxsdk9\lib"

